<app-navigation></app-navigation>
<div class="container"  style="margin-top: 20px;">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="box-shadow: 0px 0px 5px #888888;">
            <div class="card-header"></div>
            <div class="card-body">
                <div>
                    <h6 style="float: left;">Customer Total Orders : </h6>
                    <strong style="float: right;">asd</strong>

                </div>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="box-shadow: 0px 0px 5px #888888;">
            <div class="card-header">asd</div>
            <div class="card-body">
              This is some text within a card body.
            </div>
          </div>
      </div>
    </div>
  </div>

<div class="container">
    <div class="d-flex justify-content-center align-items-center">


     
            <div class="col-md">
                <button style="float: right;" class="btn btn-success" (click) =  "AddNewOrder()" ><i class="fa fa-plus"></i>Make New Order</button>
                <table class="table table-bordered" >
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>Customer</th>
                          <th>Order Value</th>
                          <th>Order Date</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody >
                      <tr *ngFor="let order of orderList; let i=index">
                          <td> {{i+1}} </td>
                          <td> {{order.customerName}} </td>
                          <td> {{order.grossValue}} </td>
                          <td> {{order.orderDate |date:'dd/MM/yyyy'}} </td>
                          <td> <button class="btn btn-sm btn-info">View</button> </td>
                      </tr>
                  </tbody>
              </table>
            </div>  
        </div>


</div>
