
<div class="container">

    <div class="row col-md" style="padding: 10px;background-color: aliceblue;">
        <h5 class="hu">{{headerTxt}}</h5>
   </div>
    <div class="row col-md" style="margin-top: 10px;">
        <div class="col-md-8">

            <div class="form-group">
                <label>Product</label>
                <select [(ngModel)]="productSelected" class="form-control" (change)="onProductChange($event)">
                    <option value="0">-- Select Product --</option>
                    <option 
                    *ngFor="let product of aProductsList" 
                     value="{{product.productId}}">
                     {{product.productName}}</option>
                </select>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                         <label>Price:</label>
                         <input class="form-control text-right" value="{{selectedProductList.price}}" disabled number="text">
                        </div>
                     </div>

                     <div class="col-md-3">
                        <div class="form-group">
                            <label>Quantity:</label>
                            <input class="form-control text-right" (input)="productQtyChangeEvent($event)" min="0" value="{{selectedProductList.quantity}}"  type="number">
                        </div>
                        
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Total:</label>
                            <input class="form-control text-right" value="{{selectedProductList.totalAmount}}" disabled type="number">
                        </div>
                        
                    </div>
                    
                 <div class="col-md-3">
                    <button id="btnSubmitId" 
                    class="btn btn-sm btn-info" 
                    (click)="addProductToList()">
                    <i class="fa fa-plus"></i>Add Product</button>

                 </div>   
                 
     
                </div>
       
        </div>
        <div class="col-md-4">
            <div class="card" >
                <ul class="list-group">
                  <li class="list-group-item"><strong>Customer  : </strong>{{UserInforObj.customerName}}</li>
                  <li class="list-group-item"><strong>Order Date : </strong>{{theOrder.orderDate | date:'yyyy-MM-dd'}}</li>
                  <li class="list-group-item"><strong>Gross Value : </strong>{{theOrder.grossValue}}</li>
                  <input type="number" hidden disabled value="{{theOrder.grossValue}}" >
                </ul>
            </div>
        </div>

  
    </div>
    </div>

    <div class="col-md">
        <div class="col-md-8">
            <div *ngIf="theOrderDetails.length>0">
                <table class="table table-bordered">
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                    <tbody>
                        <tr *ngFor="let product of theOrderDetails ;let i=index;">
                            <td>{{product.productName}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.quantity}}</td>
                            <td>{{product.totalAmount}}</td>
                            <td><button class="btn btn-sm btn-danger" (click)="removeProduct(i)" >X</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
     
  
    </div>

    
    <div  class="col-12" style="margin-top: 10px;">
        <button  class="btn btn-sm btn-warning pull-right" (click) = "close()" >Close</button>
        <button *ngIf="theOrderDetails.length > 0" class="btn btn-sm btn-success" (click) = "saveOrder()" >{{btnTxt}}</button>
    </div>